n8n-workflow.json
{
  "name": "LensAI – Ensaio Fotográfico IA (Assíncrono)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comprar-web",
        "responseMode": "responseNode",
        "options": { "rawBody": false }
      },
      "id": "node-webhook",
      "name": "1. Recebe Pedido",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "notes": "Recebe: foto_base64, tema, email, whatsapp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sandbox-api.contasimples.com/v1/pix",
        "authentication": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"amount\": 1990,\n  \"description\": \"LensAI – Ensaio {{ $json.body.tema }}\",\n  \"payer\": {\n    \"name\": \"{{ $json.body.nome }}\",\n    \"email\": \"{{ $json.body.email }}\",\n    \"phone\": \"{{ $json.body.whatsapp }}\"\n  },\n  \"expiration_seconds\": 1800\n}",
        "options": { "timeout": 30000 },
        "credentials": {
          "oAuth2Api": {
            "name": "Conta Simples - Sandbox",
            "id": "SUBSTITUIR_PELO_ID_DA_CREDENCIAL"
          }
        }
      },
      "id": "node-contasimples-pix",
      "name": "2. Conta Simples – Gera PIX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 400],
      "notes": "Gera a cobrança na Conta Simples."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"pix_copia_e_cola\": \"{{ $json.pix_copy_paste }}\",\n  \"pix_qr_code\": \"{{ $json.qr_code }}\",\n  \"pix_id\": \"{{ $json.id }}\",\n  \"expira_em\": \"{{ $json.expires_at }}\"\n}",
        "options": { "responseCode": 200 }
      },
      "id": "node-respond-sucesso",
      "name": "3. Respond – PIX Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [480, 400],
      "notes": "Retorna rapidamente para não travar a tela."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Falha ao gerar PIX\",\n  \"detalhe\": \"{{ $json.message }}\"\n}",
        "options": { "responseCode": 500 }
      },
      "id": "node-respond-erro",
      "name": "3b. Respond – Erro PIX",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [480, 600]
    },
    {
      "parameters": {
        "resume": "webhook",
        "path": "pix-pago",
        "options": { "timeout": 1800000 } 
      },
      "id": "node-wait",
      "name": "4. Aguardar Pagamento PIX",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [720, 400],
      "notes": "Espera webhook da Conta Simples confirmar pagamento. Timeout em 30 min (1800000ms)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://SUA_VPS:8080/message/sendText/NOME_INSTANCIA",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "SUA_API_KEY_EVOLUTION" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('1. Recebe Pedido').item.json.body.whatsapp }}\",\n  \"text\": \"Opa! Vimos que você tentou gerar um Ensaio Profissional com IA mas seu PIX de R$ 19,90 expirou. 😔\\n\\nAinda quer as fotos? Me chama aqui que eu gero um novo código pra você!\"\n}",
        "options": {}
      },
      "id": "node-carrinho-abandonado",
      "name": "4b. WhatsApp Carrinho Abandonado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 600],
      "notes": "Dispara Evolution API se o tempo de 30 min do Wait esgotar."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "strict" },
          "conditions": [
            { "id": "cond-ani", "leftValue": "={{ $('1. Recebe Pedido').item.json.body.tema }}", "rightValue": "Aniversário", "operator": { "type": "string", "operation": "equals" } },
            { "id": "cond-gra", "leftValue": "={{ $('1. Recebe Pedido').item.json.body.tema }}", "rightValue": "Gravidez", "operator": { "type": "string", "operation": "equals" } },
            { "id": "cond-pro", "leftValue": "={{ $('1. Recebe Pedido').item.json.body.tema }}", "rightValue": "Profissional", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "or"
        },
        "fallbackOutput": "extra"
      },
      "id": "node-switch",
      "name": "5. Switch Tema",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [960, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "prompt_traduzido", "type": "string", "value": "Stunning birthday portrait photography, elegant studio background with bokeh golden lights, subject wearing glamorous birthday outfit with sparkles, professional cinematic lighting, ultra HD, photorealistic, editorial quality" },
            { "id": "a2", "name": "tema_label", "type": "string", "value": "Aniversário" }
          ]
        },
        "options": {}
      },
      "id": "node-set-ani",
      "name": "6a. Prompt Aniversário",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "b1", "name": "prompt_traduzido", "type": "string", "value": "Maternity portrait photography, soft golden hour lighting, flowing white dress, serene and elegant studio setting, ultra HD, dreamy bokeh background, photorealistic, cinematic quality, intimate and emotional atmosphere" },
            { "id": "b2", "name": "tema_label", "type": "string", "value": "Gravidez" }
          ]
        },
        "options": {}
      },
      "id": "node-set-gra",
      "name": "6b. Prompt Gravidez",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "prompt_traduzido", "type": "string", "value": "Corporate professional headshot photography, neutral grey studio background, subject wearing formal business attire, sharp focus, natural professional lighting, clean editorial style, ultra HD, LinkedIn-ready portrait" },
            { "id": "c2", "name": "tema_label", "type": "string", "value": "Profissional" }
          ]
        },
        "options": {}
      },
      "id": "node-set-pro",
      "name": "6c. Prompt Profissional",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 480]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "d1", "name": "prompt_traduzido", "type": "string", "value": "Artistic portrait photography, creative studio setting with dynamic colorful lighting, ultra HD, photorealistic, high fashion editorial style, dramatic and unique composition" },
            { "id": "d2", "name": "tema_label", "type": "string", "value": "Outro" }
          ]
        },
        "options": {}
      },
      "id": "node-set-out",
      "name": "6d. Prompt Outro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 640]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux/dev",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Key SUA_CHAVE_FAL_AI_AQUI" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt_traduzido }}, portrait of the person shown in the reference image\",\n  \"image_url\": \"data:image/jpeg;base64,{{ $('1. Recebe Pedido').item.json.body.foto_base64 }}\",\n  \"num_images\": 4,\n  \"image_size\": \"portrait_4_3\",\n  \"num_inference_steps\": 28,\n  \"guidance_scale\": 7.5,\n  \"seed\": -1\n}",
        "options": { "timeout": 120000 }
      },
      "id": "node-falai",
      "name": "7. Fal.ai – Gera Imagens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "fromEmail": "suporte@seudominio.com.br",
        "toEmail": "={{ $('1. Recebe Pedido').item.json.body.email }}",
        "subject": "📸 O seu Ensaio com Inteligência Artificial chegou!",
        "text": "={\nOlá {{ $('1. Recebe Pedido').item.json.body.nome }}!\n\nAs suas imagens do ensaio de {{ $json.tema_label }} estão prontas.\n\nAbaixo estão os links em alta resolução (clique para baixar):\n\nImagem 1: {{ $json.images[0].url }}\nImagem 2: {{ $json.images[1].url }}\nImagem 3: {{ $json.images[2].url }}\nImagem 4: {{ $json.images[3].url }}\n\nObrigado por usar a LensAI!\nSe precisar de ajuda, responda este e-mail."
      },
      "id": "node-email",
      "name": "8. Enviar E-mail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1680, 400],
      "notes": "Configure uma Credencial SMTP (Gmail, Hostinger, Titan, etc.)"
    }
  ],
  "connections": {
    "1. Recebe Pedido": {
      "main": [[{ "node": "2. Conta Simples – Gera PIX", "type": "main", "index": 0 }]]
    },
    "2. Conta Simples – Gera PIX": {
      "main": [[{ "node": "3. Respond – PIX Frontend", "type": "main", "index": 0 }]],
      "error": [[{ "node": "3b. Respond – Erro PIX", "type": "main", "index": 0 }]]
    },
    "3. Respond – PIX Frontend": {
      "main": [[{ "node": "4. Aguardar Pagamento PIX", "type": "main", "index": 0 }]]
    },
    "4. Aguardar Pagamento PIX": {
      "main": [
        [{ "node": "5. Switch Tema", "type": "main", "index": 0 }],
        [{ "node": "4b. WhatsApp Carrinho Abandonado", "type": "main", "index": 0 }]
      ]
    },
    "5. Switch Tema": {
      "main": [
        [{ "node": "6a. Prompt Aniversário", "type": "main", "index": 0 }],
        [{ "node": "6b. Prompt Gravidez", "type": "main", "index": 0 }],
        [{ "node": "6c. Prompt Profissional", "type": "main", "index": 0 }],
        [{ "node": "6d. Prompt Outro", "type": "main", "index": 0 }]
      ]
    },
    "6a. Prompt Aniversário":  { "main": [[{ "node": "7. Fal.ai – Gera Imagens", "type": "main", "index": 0 }]] },
    "6b. Prompt Gravidez":     { "main": [[{ "node": "7. Fal.ai – Gera Imagens", "type": "main", "index": 0 }]] },
    "6c. Prompt Profissional": { "main": [[{ "node": "7. Fal.ai – Gera Imagens", "type": "main", "index": 0 }]] },
    "6d. Prompt Outro":        { "main": [[{ "node": "7. Fal.ai – Gera Imagens", "type": "main", "index": 0 }]] },
    "7. Fal.ai – Gera Imagens": { "main": [[{ "node": "8. Enviar E-mail", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["lensai", "micro-saas", "ia-foto", "pix", "assincrono", "email"],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "3"
}
